多重索引
时间类型
类别类型

In [1]:
import pandas as pd

## 在multiIndex中选定指定索引的行

https://blog.csdn.net/PIPIXIU/article/details/80232805

我们在用pandas类似groupby来使用多重index时，有时想要对多个level中的某个index对应的行进行操作，就需要在dataframe中找到该index对应的行，在单层index中我们可以方便的使用df.loc[index]来选择，在多重Index中我们可以利用的类似的思路，然而其中也有一些小坑，记录如下。

### 1 index为有序的

In [2]:
df = pd.DataFrame({'class': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'],
                       'id': ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b'],
                       'value': [1, 2, 3, 4, 5, 6, 7, 8]})
df

  class id  value
0     A  a      1
1     A  b      2
2     A  c      3
3     B  a      4
4     B  b      5
5     B  c      6
6     C  a      7
7     C  b      8

In [11]:
# 检查index是否有序，
df.index.is_lexsorted()

True

In [3]:
df.set_index(keys=['class', 'id'], drop=True, inplace=True)
df

          value
class id
A     a       1
      b       2
      c       3
B     a       4
      b       5
      c       6
C     a       7
      b       8

In [4]:
df.loc[('A',slice(None)),:]

          value
class id
A     a       1
      b       2
      c       3

loc[(a,b),c]中第一个参数元组为索引内容，a为level0索引对应的内容，b为level1索引对应的内容 
因为df是一个dataframe，所以要用c来指定列

slice(None), 是Python中的切片操作，这里用来选择任意的id，要注意！不能使用‘:’来指定任意index

In [7]:
df.loc[('A',:),:]

SyntaxError: invalid syntax (<ipython-input-7-f98afffe4bdd>, line 1)

In [8]:
df.loc[(slice(None),'a'),:]

          value
class id
A     a       1
B     a       4
C     a       7

In [5]:
df.loc[('A','c'),:]

value    3
Name: (A, c), dtype: int64

In [6]:
df.loc[('A','c')]

value    3
Name: (A, c), dtype: int64

### 2 index无序

前面的例子对应的index列为数字或字母，是有序的，接下来我们看看index列为中文的情况。

In [9]:
df2 = pd.DataFrame({'课程':['语文','语文','数学','数学'],'得分':['最高','最低','最高','最低'],'分值':[90,50,100,60]})
df2 = df2.set_index(['课程','得分'])
df2

        分值
课程 得分
语文 最高   90
   最低   50
数学 最高  100
   最低   60

In [10]:
# 检查index是否有序，
df2.index.is_lexsorted()

False

In [12]:
df2.loc[('语文',slice(None)),:]

       分值
课程 得分
语文 最高  90
   最低  50

In [13]:
df2 = df2.sort_index(level='课程')
df2

        分值
课程 得分
数学 最低   60
   最高  100
语文 最低   50
   最高   90

In [14]:
df2.loc[('语文',slice(None)),:]

       分值
课程 得分
语文 最低  50
   最高  90