#### https://mp.weixin.qq.com/s/APICRoCY2AQKS_F62LaLAg

In [3]:
import tushare as ts
import csv
import time
import pandas as pd

pro = ts.pro_api('5fd1639100f8a22b7f86e882e03192009faa72bae1ae93803e1172d5')

In [4]:
# 获取stock_basic
stock_basic = pro.stock_basic(list_status='L', fields='ts_code, symbol, name, industry')
# 重命名行，便于后面导入neo4j
basic_rename = {'ts_code': 'TS代码', 'symbol': '股票代码', 'name': '股票名称', 'industry': '行业'}
stock_basic.rename(columns=basic_rename, inplace=True)
# 保存为stock.csv
stock_basic.to_csv('stock.csv', encoding='gbk')
stock_basic.head()

        TS代码    股票代码  股票名称    行业
0  000001.SZ  000001  平安银行    银行
1  000002.SZ  000002   万科A  全国地产
2  000004.SZ  000004  国农科技  生物制药
3  000005.SZ  000005  世纪星源  环境保护
4  000006.SZ  000006  深振业A  区域地产

In [6]:
stock_basic.shape

(3612, 4)

In [7]:
# 获取top10_holders
holders = pd.DataFrame(columns=('ts_code', 'ann_date', 'end_date', 'holder_name', 'hold_amount', 'hold_ratio'))
# 获取一年内所有上市股票股东信息（可以获取一个报告期的）
for i in range(3610):
    code = stock_basic['TS代码'].values[i]
    top10_holders = pro.top10_holders(ts_code=code, start_date='20180101', end_date='20181231')
    holders = holders.append(top10_holders)
    time.sleep(0.8)# 数据接口限制
# 保存为holders.csv
holders.to_csv('holders.csv', encoding='gbk')
holders.head()

,ts_code,ann_date,end_date,holder_name,hold_amount,hold_ratio
0,000001.SZ,20190307,20181231,新华人寿保险股份有限公司-分红-个人分红-018L-FH002深,4.960350e+07,0.29
1,000001.SZ,20190307,20181231,中国平安保险(集团)股份有限公司-集团本级-自有资金,8.510493e+09,49.56
2,000001.SZ,20190307,20181231,中国平安人寿保险股份有限公司-自有资金,1.049463e+09,6.11
3,000001.SZ,20190307,20181231,香港中央结算有限公司(陆股通),4.307515e+08,2.51
4,000001.SZ,20190307,20181231,中国证券金融股份有限公司,4.292327e+08,2.50

In [8]:
# 获取concept，并查看概念分类数量
concept = pro.concept()
concept.to_csv('concept_num.csv', encoding='gbk')
concept.head()

  code   name src
0  TS0   密集调研  ts
1  TS1  南北船合并  ts
2  TS2     5G  ts
3  TS3     机场  ts
4  TS4    高价股  ts

In [10]:
# 获取concept_detail
concept_details = pd.DataFrame(columns=('id', 'concept_name', 'ts_code', 'name'))
for i in range(358):
    id = 'TS' + str(i)
    concept_detail = pro.concept_detail(id=id)
    concept_details = concept_details.append(concept_detail)
    time.sleep(0.6)
# 保存为concept_detail.csv
concept_details.to_csv('concept.csv', encoding='gbk')
concept_details.head()

    id concept_name    ts_code  name
0  TS0         密集调研  000917.SZ  电广传媒
1  TS0         密集调研  002123.SZ  梦网集团
2  TS0         密集调研  002127.SZ  南极电商
3  TS0         密集调研  002371.SZ  北方华创
4  TS0         密集调研  002460.SZ  赣锋锂业